#replaceStudentForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 3rem auto;
}

#replaceStudentForm h2 {
  text-align: center;
  text-transform: uppercase;
}

#replaceStudentForm .actions {
  display: flex;
  justify-content: center;
}

#replaceStudentForm button {
  margin: 0.5rem 1rem;
  width: 40%;
}
